.svg-i-cart,.svg-i-search,.svg-i-user,.svg-logo{background:url(img/sprite/sprite.css-1c9452c2.svg) no-repeat}
.svg-i-cart{background-position:0 100%}
.svg-i-cart-dims{width:26px;height:23px}
.svg-i-search{background-position:66.66666666666667% 94.11764705882354%}
.svg-i-search-dims{width:20px;height:20px}
.svg-i-user{background-position:38.80597014925373% 97.95918367346938%}
.svg-i-user-dims{width:16px;height:22px}
.svg-logo{background-position:0 0}
.svg-logo-dims{width:83px;height:48px}