section.brands
    .container
        h2 Наши бренды
        .brands__row.flex-wrap
            -for(var i = 1; i < 4; i++)
                .brands__col
                    .brands__img
                        img(src="img/brands/" +i+ ".png", alt="")
                    .brands__text
                        p Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий активизации.
                    .brands__bottom.flex.aic
                        a(href="") Подробнее о бренде
                        a(href="").btn.btn--icon.btn--bordered-blue
                            span Товары бренда
                            i.i-cart-btn