section.cart
    .container
        .cart-table
            .cart-table__row.cart-table__row--head.flex-wrap
                .cart-table__col.cart-table__col--2
                    span Артикул
                .cart-table__col.cart-table__col--4
                    span Наименование товара
                .cart-table__col.cart-table__col--2
                    span Цена, ₽
                .cart-table__col.cart-table__col--2
                    span Количество
                .cart-table__col.cart-table__col--1
                    span Сумма, ₽
                .cart-table__col.cart-table__col--1

            .cart-table__row.flex-wrap
                .cart-table__col.cart-table__col--2
                    span.m Артикул
                    p 137456789
                .cart-table__col.cart-table__col--4
                    .cart-table__name.flex
                        .cart-table__img
                            img(src="img/cart/1.png", alt="")
                        .cart-table__info
                            p Аккумуляторная батарея 90D23L
                            span FUJITO QUALITY, Япония / 42Ah / 46B19
                .cart-table__col.cart-table__col--1.cart-table__col--right
                        .cart-table__info
                            span.price-old 2 600
                            p 2 400
                .cart-table__col.cart-table__col--1.cart-table__col--hidden
                .cart-table__col.cart-table__col--2
                    .counter    
                        .counter__button.counter__button--min
                        input(type="text" value="30")
                        .counter__button.counter__button--plus
                .cart-table__col.cart-table__col--1.cart-table__col--right.cart-table__col--summ
                    p 72 000
                .cart-table__col.cart-table__col--1.cart-table__col--center.cart-table__col--delete
                    button.i-delete.js-remove-product

            .cart-table__row.flex-wrap
                .cart-table__col.cart-table__col--2
                    p 137456789
                .cart-table__col.cart-table__col--4
                    .cart-table__name.flex
                        .cart-table__img
                            img(src="img/cart/1.png", alt="")
                        .cart-table__info
                            p Аккумуляторная батарея 90D23L
                            span FUJITO QUALITY, Япония / 42Ah / 46B19
                .cart-table__col.cart-table__col--1.cart-table__col--right
                        .cart-table__info
                            span.price-old 2 600
                            p 2 400
                .cart-table__col.cart-table__col--1.cart-table__col--hidden
                .cart-table__col.cart-table__col--2
                    .counter    
                        .counter__button.counter__button--min
                        input(type="text" value="30")
                        .counter__button.counter__button--plus
                .cart-table__col.cart-table__col--1.cart-table__col--right.cart-table__col--summ
                    p 72 000
                .cart-table__col.cart-table__col--1.cart-table__col--center.cart-table__col--delete
                    button.i-delete.js-remove-product

            .cart-table__row.cart-table__row--non-bordered.flex-wrap
                .cart-table__col.cart-table__col--2
                    p 137456789
                .cart-table__col.cart-table__col--4
                    .cart-table__name.flex
                        .cart-table__img
                            img(src="img/cart/1.png", alt="")
                        .cart-table__info
                            p Аккумуляторная батарея 90D23L
                            span FUJITO QUALITY, Япония / 42Ah / 46B19
                .cart-table__col.cart-table__col--1.cart-table__col--right
                        .cart-table__info
                            span.price-old 2 600
                            p 2 400
                .cart-table__col.cart-table__col--1.cart-table__col--hidden
                .cart-table__col.cart-table__col--2
                    .counter    
                        .counter__button.counter__button--min
                        input(type="text" value="30")
                        .counter__button.counter__button--plus
                .cart-table__col.cart-table__col--1.cart-table__col--right.cart-table__col--summ
                    p 72 000
                .cart-table__col.cart-table__col--1.cart-table__col--center.cart-table__col--delete
                    button.i-delete.js-remove-product

            .cart-table__bottom.flex-wrap.aic
                .cart-table__bottom-left
                    a(href="").btn-black
                        i.i-arrow
                        span Продолжить покупки
                .cart__total.flex.aic
                    span Итого:
                    p 160 000.00
                .cart-table__bottom-btn
                    a(href="").btn.btn--icon.btn--blue
                        span Оформить 
                        i.i-more.i-more-blue-dark