ul.catalog-products.flex-wrap.ais
    -for(let i = 0; i < 9; i+=1)
        li.catalog-products__item
            .catalog-products__item-inner
                .catalog-products__img
                    img(src="img/catalog/products/1.png", alt="")
                .catalog-products__info
                    .catalog-products__info-title Аккумуляторная батарея 90D23L
                    ul
                        li 
                            span Бренд
                            p FUJITO QUALITY, Япония
                        li 
                            span Ёмкость
                            p 42Ah
                        li 
                            span Маркировка
                            p 46B19
                    .catalog-products__bottom.flex.aic.jcsb
                        a(href="").btn.btn--blue.btn--icon
                            span Розница
                            i.i-cart-btn
                        a(href="").btn.btn--orange.btn--icon
                            span ОПТ
                            i.i-opt
        li.catalog-products__item
            .catalog-products__item-inner
                .catalog-products__img
                    img(src="img/catalog/products/1.png", alt="")
                .catalog-products__info
                    .catalog-products__info-title Аккумуляторная батарея 90D23L
                    ul
                        li 
                            span Бренд
                            p FUJITO QUALITY, Япония
                        li 
                            span Ёмкость
                            p 42Ah
                        li 
                            span Маркировка
                            p 46B19
                    .catalog-products__bottom.flex.aic.jcsb
                        .catalog-products__price 16 456 ₽
                        a(href="").btn.btn--blue.btn--icon
                            span В корзину
                            i.i-cart-btn
include pagination