.catalog-cards
    .container
        ul.catalog-cards__list.flex-wrap
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-acc
                        span Аккумуляторы
                    .catalog-card__right.catalog-card__right--blue
                        img(src="img/catalog/1.png", alt="")
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-filter-water
                        span Фильтры
                    .catalog-card__right.catalog-card__right--green
                        img(src="img/catalog/2.png", alt="")
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-oil
                        span Масла
                    .catalog-card__right.catalog-card__right--orange
                        img(src="img/catalog/3.png", alt="")
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-lamp
                        span Лампы
                    .catalog-card__right.catalog-card__right--yellow
                        img(src="img/catalog/4.png", alt="")
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-disks
                        span Диски
                    .catalog-card__right.catalog-card__right--gray
                        img(src="img/catalog/5.png", alt="")
            li.catalog-card
                a(href="").catalog-card__link
                    .catalog-card__title.flex.aic
                        .catalog-card__icon 
                            i.i-shini
                        span Шины
                    .catalog-card__right.catalog-card__right--gullgray
                        img(src="img/catalog/6.png", alt="")

