.m-menu
    .m-menu__lang.flex.aic
        a(href="").active RUS
        a(href="") ENG
    a(href="tel:8 (800) 222-22-44").m-menu__phone 8 (800) 222-22-44
    ul.m-menu__list
        li.m-menu__item.m-menu__item--bordered
            a(href="").m-menu__title.flex.aic О компании
        li.m-menu__item.m-menu__item--bordered
            a(href="").m-menu__title.flex.aic 
                span Продукция
                i.i-menu-arrow
            ul.m-menu__sublist
                li.m-menu__sublist-item
                    a(href="") Fujito Corporation
                li.m-menu__sublist-item
                    a(href="") Panasonic
                li.m-menu__sublist-item
                    a(href="") KYB
        li.m-menu__item.m-menu__item--bordered
            a(href="").m-menu__title.flex.aic
                span Бренды
                i.i-menu-arrow
            ul.m-menu__sublist
                li.m-menu__sublist-item
                    a(href="") Fujito Corporation
                li.m-menu__sublist-item
                    a(href="") Panasonic
                li.m-menu__sublist-item
                    a(href="") KYB
        li.m-menu__item
            a(href="").m-menu__title.flex.aic 
                span Где купить
        li.m-menu__item
            a(href="").m-menu__title.flex.aic 
                span Новости и акции
        li.m-menu__item
            a(href="").m-menu__title.flex.aic 
                span Контакты
    ul.social.m-menu__social.flex.aic
        li.social__item
            a(href="")
                i.i-telegram
        li.social__item
            a(href="")
                i.i-viber
        li.social__item
            a(href="")
                i.i-whatsupp
    .m-menu__copy © 2019, Макнот™