.overlay
.popup.popup--opt
    .back
        <svg width="195" height="457" viewBox="0 0 195 457" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M320 -39H700V457H0L320 -39Z" fill="#F8F9FA"/>
        </svg>
    i.i-close.close
    .popup__content
        .popup__title Станьте оптовым клиентом и получайте преимущества!
        ul.popup__list
            li Уведомления о новых поступлениях
            li Возможность заказывать продукцию онлайн
            li Личный менеджер
            li Поддержка 24 / 7
        a(href="").btn.btn--icon.btn--orange
            span Стать оптовым клиентом
            i.i-download.i-download--right