section.top-banner
    .container
        .top-banner__row.flex-wrap.aic
            .top-banner__col
                img(src="img/top-banner/fq.png", alt="")
            .top-banner__col
                p Настоящее японское качество
                p FUJITO CORPORATION
            .top-banner__col
                img(src="img/top-banner/top-banner-right.png", alt="")