.buy{
    &__tabs{
        &-content{
            display: none;
            border: 2px solid #f8f9fa;
            background-color: #f8f9fa;     
            padding: 48px 64px;  
            @include media(768){
                padding: 32px;
            }
            @include media(500){
                padding: 16px;
            }
            &.active{
                display: block;
            }
        }
    }
}