.cart{
    background: #ffffff;
    @include media(768){
        margin-bottom: -50px;
    }
    &-table{
        transform: translateY(-100px);
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
        @include media(850){
            max-width: 550px;
            margin: 0 auto;
        }
        &__row{
            position: relative;
            align-items: center;
            padding: 24px 0;
            margin: 0 32px;
            border-bottom: 1px solid #F2F2F2;
            @include media(850){
                margin: 0;
                padding: 24px;
            }
            &--non-bordered{
                border: 0;
            }
            span{
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 0.216667px;
                text-transform: uppercase;
                color: #ADB5BD;         
                &.m{
                    display: none;
                    margin-bottom: 4px;
                    @include media(850){
                        display: block;
                    }
                } 
                &.price-old{
                    text-decoration: line-through;
                }
            }
            p{
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0.583333px;
                color: #212529;    
                margin: 0;  
            }
            &--head{
                @include media(850){
                    display: none;
                }
            }
        }
        &__col{
            padding: 0 5px;
            @include media(850){
                width: 100%;
                padding: 0;
                text-align: left;
                margin-bottom: 16px;
                &:nth-of-type(3), &:nth-of-type(5){
                    width: 50%;
                    margin: 0;
                }
                .counter{
                    justify-content: flex-end;
                }
            }
            &--1{
                @include col(1);
            }
            &--2{
                @include col(2);
            }
            &--4{
                @include col(4);
            }
            &--right{
                text-align: right;
            }
            &--center{
                text-align: center;
            }
            &--summ, &--hidden{
                @include media(850){
                    display: none;
                }
            }
            &--delete{
                @include media(850){
                    width: auto !important;
                    position: absolute;
                    top: 24px;
                    right: 24px;
                }
            }
        }
        &__img{
            min-width: 48px;
            @include media(850){
                display: none;
            }
        }
        &__name{
            align-items: center;
            .cart-table__info{
                margin-left: 24px;
                p{
                    margin-bottom: 4px;
                }
                @include media(850){
                    margin: 0;
                }
            }
        }
        &__bottom{
            padding: 24px 32px;
            background: #F8F9FA;
            @include media(850){
                padding: 24px;
                &-left, &-btn{
                    width: 100%;
                    a{
                        max-width: 240px;
                        width: 100%;
                        margin: 0 auto;
                        justify-content: center;
                    }
                }
            }
            &-left{
                @include col(8);
                padding: 0 5px;
                @include media(1370){
                    @include col(6);
                }
                @include media(970){
                    width: auto;
                    margin-right: auto;
                }
                @include media(850){
                    order: 1;
                }
            }
            &-btn{
                @include col(2);
                text-align: center;
                @include media(1370){
                    @include col(3);
                }
                @include media(970){
                    width: auto;
                }
                @include media(850){
                    margin: 16px 0;
                    a{
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    &__total{
        @include col(2);
        @include media(1370){
            @include col(3);
        }
        @include media(970){
            width: auto;
            margin-right: 16px;
        }
        @include media(850){
            width: 100%;
            justify-content: center;
        }
        padding: 0 5px;
        align-items: baseline;
        span{
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.303333px;
            text-transform: uppercase;
            color: #ADB5BD;
            margin-right: 32px;
        }
        p{
            margin: 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 31px;
            text-align: right;
            letter-spacing: 1px;
            color: #212529;
        }
    }
}