section.filter-main
    .container
        h2.h1 Подобрать продукт
        ul.filter-main-tabs.flex.aic
            li.filter-main-tabs__item.active Аккумуляторы
            li.filter-main-tabs__item Фильтры
            li.filter-main-tabs__item Масла
        .filter-main-tabs__content.active
            form(action="").filter-main-form
                .filter-main-form__list.flex-wrap
                    .filter-main-form__item
                        input(type="hidden" name="car")
                        .filter-main-form__title Тип авто
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="acc")
                        .filter-main-form__title Тип аккумулятора
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="capacity")
                        .filter-main-form__title Емкость
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любая
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="manufacturer")
                        .filter-main-form__title Производитель
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item.filter-main-form__item--btn
                        a(href="").filter-main-form__item-btn
                            span Подобрать
                            i.i-more
        .filter-main-tabs__content
            form(action="").filter-main-form
                .filter-main-form__list.flex-wrap
                    .filter-main-form__item
                        input(type="hidden" name="car")
                        .filter-main-form__title Тип авто
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="acc")
                        .filter-main-form__title Тип аккумулятора
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="capacity")
                        .filter-main-form__title Емкость
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любая
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="manufacturer")
                        .filter-main-form__title Производитель
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item.filter-main-form__item--btn
                        a(href="").filter-main-form__item-btn
                            span Подобрать
                            i.i-more
        .filter-main-tabs__content
            form(action="").filter-main-form
                .filter-main-form__list.flex-wrap
                    .filter-main-form__item
                        input(type="hidden" name="car")
                        .filter-main-form__title Тип авто
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="acc")
                        .filter-main-form__title Тип аккумулятора
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="capacity")
                        .filter-main-form__title Емкость
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любая
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item
                        input(type="hidden" name="manufacturer")
                        .filter-main-form__title Производитель
                        .filter-main-form__select
                            .filter-main-form__select-current.flex.aic
                                span Любой
                                i.i-arrow--blue-small
                            ul.filter-main-form__select-list
                                li.filter-main-form__select-item(data-value="45") 45
                                li.filter-main-form__select-item(data-value="60") 60
                                li.filter-main-form__select-item(data-value="75") 75
                    .filter-main-form__item.filter-main-form__item--btn
                        a(href="").filter-main-form__item-btn
                            span Подобрать
                            i.i-more