footer.footer
    .container
        .footer__row.flex-wrap
            .footer__col.footer__col--logo
                a(href="")
                    img(src="img/footer__logo.png", alt="")
            .footer__col
                .footer__col-title Адрес:
                .footer__col-content
                    p г. Владивосток, ул.1-я Морская, д.20, офис 7
            .footer__col
                .footer__col-title Телефон:
                .footer__col-content
                    a(href="tel:8 (800) 222-22-44") 8 (800) 222-22-44
                    a(href="tel:8 (423) 205-90-50") 8 (423) 205-90-50
            .footer__col
                .footer__col-title E-mail:
                .footer__col-content
                    a(href="mailto:dv@maknot.com") dv@maknot.com
            .footer__col
                .footer__col-title Мессенджеры:
                .social.footer__social.flex.aic
                    li.social__item
                        a(href="")
                            i.i-telegram
                    li.social__item
                        a(href="")
                            i.i-viber
                    li.social__item
                        a(href="")
                            i.i-whatsupp
            .footer__col.footer__col--info
                a(href="") Политика конфиденциальности
                p Генеральный дистрибьютор «FUJITO CORPORATION»
                span © 2019, Макнот™
