.btn{
    font-family: $baseFont;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px !important;
    border-radius: 20px;
    transition: .3s;
    background: transparent;
    height: 40px;
    &--orange{
        background-color: #ff5a00;
        &:hover{
            background-color: #cc4800;
        }
    }
    &--blue{
        background-color: #3486c7 !important;
        &:hover{
            background-color: #1e6dad !important;
        }   
    }
    &--icon{
        padding: 8px 8px 8px 16px;
        i{
            margin-left: 16px;
        }
    }
    &--more{
        color: #212529;
        font-size: 14px;
        font-weight: 700;    
        &:hover{
            color: #ff5a00;
        } 
    }
    &--black{
        background-color: #212529;
        color: white;
    }
    &--bordered{
        height: 40px;
        &-white{
            border: 1px solid #ffffff;
            color: #ffffff;
            &:hover{
                background-color: #cc4800;
                border-color: #cc4800;
            } 
        }
        &-blue{
            border: 1px solid #3486c7;
            color: #1e6dad;  
            &:hover{
                background-color: #1e6dad;
                color: #fbfbfb;
            } 
        }
        &-orange{
            border: 1px solid #ff5a00;    
            color: #ff5a00;
            &:hover{
                background: #ff5a00;
                color: white;
            }
        }
    }
    &-filter{
        justify-content: space-between;
        border-radius: 24px;
        background-color: #00acff;   
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        height: 48px;
        padding: 8px 8px 8px 16px;
    }
    &-black{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        i{
            margin-right: 16px;
            font-size: 24px;
        }
    }
    &-back{
        i{
            font-size: 24px;
            color: black;
            margin-right: 16px;
        }
        span{
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #000000;       
        }
    }
    &--gray{
        background: rgba(173, 181, 189, 0.1) !important;
        color: #757575 !important;
    }
}