<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title BUTTONS
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            .b-buttons
                a(href="").btn.btn--orange кнопка
                a(href="").btn.btn--blue кнопка
                a(href="").btn.btn--icon.btn--blue
                    span кнопка
                    i.i-more.i-more-blue-dark
                a(href="").btn.btn--icon.btn--orange
                    span кнопка
                    i.i-download.i-download--right
                a(href="").btn.btn--more кнопка
                a(href="").btn.btn--bordered-blue кнопка
                a(href="").btn.btn--bordered-orange кнопка
                a(href="").btn.btn--bordered-white кнопка
                a(href="").btn.btn-back
                    i.i-arrow 
                    span кнопка
        include blocks/scripts