<!DOCTYPE html>
- breadItems = ['Главная', 'Продукция']
- topTitle = 'Наша продукция'
- topDescription = 'В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. '
- topBtn = true
- rightColBase = true
- rowAlign = 'aic'
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ICONS
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            .icons
                i.i-arrow
                i.i-arrow.i-arrow--down-small
                i.i-arrow--blue-small
                i.i-close
                i.i-search--custom
                i.i-telegram
                i.i-whatsupp
                i.i-viber
                i.i-home
                i.i-acc
                i.i-oil
                i.i-filter-water
                i.i-lamp
                i.i-disks
                i.i-shini
                i.i-download
                i.i-more
                i.i-more.i-more--orange
                i.i-cart-btn
                i.i-opt
                i.i-form-filter
        include blocks/scripts