<!DOCTYPE html>
- var count = 4
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title main
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include blocks/top-banner
            include templates/header
            include templates/block-main
            include templates/filter
            include templates/news
            include templates/banner
        include templates/footer
        include blocks/popups
        include blocks/scripts