<!DOCTYPE html>
- var newsPage = true
- var count = 8
- var sale = true
- var bread = true
- var breadItems = ['Главная', 'Новости и акции']
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NEWS
        link(rel="stylesheet", href="style.css")
    body.news-page
        .wrapper
            include blocks/top-banner
            include templates/header
            include templates/banner
            include templates/news.pug
        include templates/footer
        include blocks/scripts