<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title typography
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include templates/header
            main.main
                .container
                    .content
                        .typical__row.flex-wrap
                            .typical__col
                                h1 Заголовок
                                h2 Заголовок
                                h3 Заголовок
                                h4 Заголовок
                                h5 Заголовок
                                h6 Заголовок
                            .typical__col
                                .typical__col-item
                                    strong В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. 
                                .typical__col-item
                                    ul.list.list--bullet
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                .typical__col-item
                                    a(href="") Скачать документ с характеристиками
                            .typical__col
                                .typical__col-item
                                    p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности.
                                .typical__col-item
                                    ol.list.list--numbers
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                                        li Батареи «FQ»
                        h1 Аккумуляторы
                        p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности
                        h2 FUJITO CORPORATION
                        p Компания FUJITO CORPORATION была основана в 1988 году в городе Сендай, Япония. На сегодняшний день завод FUJITO CORPORATION входит в 100 крупнейших компаний Японии ипоставляет детали для производства оригинальных автомобильных и промышленных автозапчастей (OEM). 
                        p Компания работает более 30 лет. Имеет собственный исследовательский центр и испытательный полигон на острове Хоккайдо. Собственная испытательная лаборатория автокомпонентов FUJITO CORPORATION, акредитованна в соответствии со стандартами ISO/IEC 17025:2005 располагает самым современным оборудованием.




        include templates/footer
        include blocks/scripts