.detail{
    position: relative;
    &__top{
        position: relative;
        padding: 100px 0 32px;
        background-color: #f8f9fa;
        @include media(850){
            padding: 32px 0 0;
        }
        &-list{
            max-width: 320px;
            li{
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    display: block;
                    font-weight: 600;
                    font-size: 10px;
                    letter-spacing: 0.216667px;
                    text-transform: uppercase;
                    
                    color: #ADB5BD;
                }
                p{
                    width: 60%;
                    margin-left: auto;
                    margin: 0;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.583333px;
                    color: #212529;
                }
            }
        }
        &-element{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            @include media(850){
                display: none;
            }
            background:linear-gradient(135deg, transparent 300px, #e9ecef 0);
            width: 800px;
        }
        h1{
            font-size: 32px;
            margin-bottom: 16px;
            @include media(768){
                font-size: 24px;
                letter-spacing: 1px;
            }
        }
        .breadcrubms{
            position: absolute;
            top: 18px;
            @include media(850){
                display: none;
            }
        }
        &-row{
            margin: 0 -16px;
            @include media(850){
                margin: 0;
            }
        }
        &-col{
            position: relative;
            @include col(7);
            padding: 0 16px;
            &--img{
                @include col(4);
                display: flex;
                justify-content: flex-end;
                @include media(850){
                    justify-content: flex-start;
                    margin-top: 32px;
                }
            }
            &--slider{
                @include col(4);
                position: relative;
                @include media(850){
                    margin-top: 32px;
                }
            }
            @include media(850){
                width: 100%;
                padding: 0;
            }
            &--producs-detail{
                h1{
                    margin: 8px 0 24px;
                }
                .detail__top-info{
                    margin-top: 32px;
                    a{
                        &:first-child{
                            margin-right: 32px;
                        }
                    }
                    @include media(450){
                        flex-direction: column;
                        align-items: flex-start;
                        a{
                            &:last-child{
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        &-info{
            @include media(850){
                margin-top: 32px;
            }
            .price{
                font-weight: 500;
                font-size: 32px;
                line-height: 42px;
                letter-spacing: 1.33333px;
                color: #212529;      
                margin-right: 48px;    
            }
        }
        &-img{
            display: flex;
            align-items: center;
            &--abs{
                position: absolute;
                @include media(850){
                    position: static;
                }
                img{
                    width: 22vw;
                    min-width: 280px;
                }
            }
        }
    }
    &__date{
        margin-left: 24px;
        color: #adb5bd;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.58px;
    }
    &__description{
        padding: 64px 0 120px;
        background-color: #ffffff;
        @include media(850){
            padding: 32px 0;
            background-color: #f8f9fa;
        }
        h5{
            margin-bottom: 8px;
        }
    }
}