.about__products{
    padding: 120px 0 80px;
    background: #F8F9FA;
    position: relative;
    @include media(1300){
        padding: 64px 0;
    }
    @include media(768){
        padding: 32px 0;
    }
    h2{
        margin-bottom: 64px;
        @include media(768){
            margin-bottom: 16px;
        }
    }
    .catalog-card{
        width: 33.33%;
        flex: auto;
    }
    .catalog-card__link{
        background: #FFFFFF; 
    }
    blockquote{
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        @include media(1100){
            transform: none;
            position: static;
        }
    }
}